/* --- Global Checkbox Layout --- */
.timeline-grid input.task-list-item-checkbox,
.task-viewer-global-styles input.task-list-item-checkbox {
    cursor: pointer;
    position: relative !important;
    top: 0.2em !important;
}

.timeline-grid li>input.task-list-item-checkbox:checked {
    background-color: var(--file-accent, var(--interactive-accent)) !important;
    border-color: transparent !important;
}

/* --- Checked State (Backgrounds) --- */

/* ? */
.task-viewer-global-styles input[data-task="?"].task-list-item-checkbox:checked,
.task-viewer-global-styles li[data-task="?"]>input.task-list-item-checkbox:checked,
.task-viewer-global-styles li[data-task="?"]>p>input.task-list-item-checkbox:checked {
    background-color: #A99400 !important;
    border-color: #A99400 !important;
}

/* ! */
.task-viewer-global-styles input[data-task="!"].task-list-item-checkbox:checked,
.task-viewer-global-styles li[data-task="!"]>input.task-list-item-checkbox:checked,
.task-viewer-global-styles li[data-task="!"]>p>input.task-list-item-checkbox:checked {
    background-color: #e73c4c !important;
    border-color: #e73c4c !important;
}

/* - */
.task-viewer-global-styles input[data-task="-"].task-list-item-checkbox:checked,
.task-viewer-global-styles li[data-task="-"]>input.task-list-item-checkbox:checked,
.task-viewer-global-styles li[data-task="-"]>p>input.task-list-item-checkbox:checked {
    background-color: var(--checklist-done-color) !important;
    border-color: transparent !important;
}

/* x */
.task-viewer-global-styles input[data-task="x"].task-list-item-checkbox:checked,
.task-viewer-global-styles li[data-task="x"]>input.task-list-item-checkbox:checked,
.task-viewer-global-styles li[data-task="x"]>p>input.task-list-item-checkbox:checked {
    background-color: var(--file-accent, var(--interactive-accent)) !important;
    border-color: transparent !important;
}

/* > */
.task-viewer-global-styles input[data-task=">"].task-list-item-checkbox:checked,
.task-viewer-global-styles li[data-task=">"]>input.task-list-item-checkbox:checked,
.task-viewer-global-styles li[data-task=">"]>p>input.task-list-item-checkbox:checked {
    background-color: var(--file-accent, var(--interactive-accent)) !important;
    border-color: transparent !important;
}


/* after - Icons */

/* ? */
.task-viewer-global-styles input[data-task="?"].task-list-item-checkbox:checked::after,
.task-viewer-global-styles li[data-task="?"]>input.task-list-item-checkbox:checked::after,
.task-viewer-global-styles li[data-task="?"]>p>input.task-list-item-checkbox:checked::after {
    content: '?';
    position: absolute;
    color: white;
    text-align: center;
    font-weight: 900;
    line-height: 14px;
    width: 12px;
    left: 1px;
    right: 1px;
    top: 0;
    font-family: var(--font-interface);
    -webkit-mask-image: none !important;
    background-color: transparent !important;
}

/* ! */
.task-viewer-global-styles input[data-task="!"].task-list-item-checkbox:checked::after,
.task-viewer-global-styles li[data-task="!"]>input.task-list-item-checkbox:checked::after,
.task-viewer-global-styles li[data-task="!"]>p>input.task-list-item-checkbox:checked::after {
    content: '!';
    position: absolute;
    color: white;
    text-align: center;
    font-weight: 900;
    line-height: 14px;
    width: 12px;
    left: 1px;
    right: 1px;
    top: 0;
    font-family: var(--font-interface);
    -webkit-mask-image: none !important;
    background-color: transparent !important;
}

/* - */
.task-viewer-global-styles input[data-task="-"].task-list-item-checkbox:checked::after,
.task-viewer-global-styles li[data-task="-"]>input.task-list-item-checkbox:checked::after,
.task-viewer-global-styles li[data-task="-"]>p>input.task-list-item-checkbox:checked::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 16px;
    height: 16px;
    background-color: white !important;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='6.5' width='13' height='1'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='6.5' width='13' height='1'/%3E%3C/svg%3E");
}

/* > */
.task-viewer-global-styles input[data-task=">"].task-list-item-checkbox:checked::after,
.task-viewer-global-styles li[data-task=">"]>input.task-list-item-checkbox:checked::after,
.task-viewer-global-styles li[data-task=">"]>p>input.task-list-item-checkbox:checked::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 16px;
    height: 16px;
    background-color: white !important;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.12 7L3.26667 11.76L4.57333 13.0667L10.7333 7L4.57333 0.933332L3.26667 2.24L8.12 7Z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.12 7L3.26667 11.76L4.57333 13.0667L10.7333 7L4.57333 0.933332L3.26667 2.24L8.12 7Z'/%3E%3C/svg%3E");
}

/* x */
.task-viewer-global-styles input[data-task="x"].task-list-item-checkbox:checked::after,
.task-viewer-global-styles li[data-task="x"]>input.task-list-item-checkbox:checked::after,
.task-viewer-global-styles li[data-task="x"]>p>input.task-list-item-checkbox:checked::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 16px;
    height: 16px;
    background-color: white !important;
    -webkit-mask-image: url('data:image/svg+xml; utf8, <svg width="12px" height="10px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-4.000000, -6.000000)" fill="%23000000"><path d="M8.1043257,14.0367999 L4.52468714,10.5420499 C4.32525014,10.3497722 4.32525014,10.0368095 4.52468714,9.8424863 L5.24777413,9.1439454 C5.44721114,8.95166768 5.77142411,8.95166768 5.97086112,9.1439454 L8.46638057,11.5903727 L14.0291389,6.1442083 C14.2285759,5.95193057 14.5527889,5.95193057 14.7522259,6.1442083 L15.4753129,6.84377194 C15.6747499,7.03604967 15.6747499,7.35003511 15.4753129,7.54129009 L8.82741268,14.0367999 C8.62797568,14.2290777 8.3037627,14.2290777 8.1043257,14.0367999"></path></g></g></svg>');
    mask-image: url('data:image/svg+xml; utf8, <svg width="12px" height="10px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-4.000000, -6.000000)" fill="%23000000"><path d="M8.1043257,14.0367999 L4.52468714,10.5420499 C4.32525014,10.3497722 4.32525014,10.0368095 4.52468714,9.8424863 L5.24777413,9.1439454 C5.44721114,8.95166768 5.77142411,8.95166768 5.97086112,9.1439454 L8.46638057,11.5903727 L14.0291389,6.1442083 C14.2285759,5.95193057 14.5527889,5.95193057 14.7522259,6.1442083 L15.4753129,6.84377194 C15.6747499,7.03604967 15.6747499,7.35003511 15.4753129,7.54129009 L8.82741268,14.0367999 C8.62797568,14.2290777 8.3037627,14.2290777 8.1043257,14.0367999"></path></g></g></svg>');
}