/* Default checkbox styling matching customCheckboxes.css */
.task-content-container input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: 1px solid var(--checkbox-border-color);
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0;
    margin-right: 4px;
    /* customCheckboxes.css uses 4px */
    margin-bottom: 2px;
    /* customCheckboxes.css uses 2px */
    transition: background-color 200ms ease-out 0s;
    cursor: pointer;
    filter: none;
    border-radius: 4px;
    vertical-align: -3px;
}

/* Hover State */
.task-content-container input[type="checkbox"]:hover {
    border-color: var(--checkbox-border-color-hover);
}

/* Checked State - Generic */
.task-content-container input[type="checkbox"]:checked {
    border: 1px solid transparent;
    background-color: var(--file-accent, var(--interactive-accent));
}

.task-content-container input[type="checkbox"]:checked::before {
    position: absolute;
    color: white;
    text-align: center;
    font-weight: 900;
    line-height: 14px;
    width: 12px;
    left: 1px;
    right: 1px;
    top: 0;
}

/* --- SVG Icon Checkboxes --- */

/* SVG check mark for done ('- [x]') */
.task-content-container li[data-task="x"] input[type="checkbox"]:checked::before {
    content: '';
    top: 1px;
    /* customCheckboxes.css value */
    bottom: 1px;
    /* customCheckboxes.css value */
    background-color: white;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpolygon points='5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039'%3E%3C/polygon%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpolygon points='5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039'%3E%3C/polygon%3E%3C/svg%3E");
    /* Reset mask positioning to default stretch/cover as per customCheckboxes.css which doesn't specify center/size */
    -webkit-mask-position: initial;
    mask-position: initial;
    -webkit-mask-repeat: repeat;
    mask-repeat: repeat;
    -webkit-mask-size: auto;
    mask-size: auto;
}

/* strikethrough for done tasks */
.task-content-container li[data-task="x"] {
    color: var(--checklist-done-color);
    text-decoration: var(--checklist-done-decoration);
}

/* SVG chevron right for deferred/scheduled ('- [>]') */
.task-content-container li[data-task=">"] input[type="checkbox"]:checked::before {
    content: '';
    top: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.12 7L3.26667 11.76L4.57333 13.0667L10.7333 7L4.57333 0.933332L3.26667 2.24L8.12 7Z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.12 7L3.26667 11.76L4.57333 13.0667L10.7333 7L4.57333 0.933332L3.26667 2.24L8.12 7Z'/%3E%3C/svg%3E");
}

/* strikethrough for deferred/scheduled tasks */
.task-content-container li[data-task=">"] {
    color: var(--checklist-done-color);
    text-decoration: var(--checklist-done-decoration);
}

/* SVG line for cancelled/non-task ('- [-]') */
.task-content-container li[data-task="-"] input[type="checkbox"]:checked {
    background-color: var(--checklist-done-color) !important;
}

.task-content-container li[data-task="-"] input[type="checkbox"]:checked::before {
    content: '';
    top: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='6.5' width='13' height='1'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='6.5' width='13' height='1'/%3E%3C/svg%3E");
}

/* strikethrough for cancelled tasks */
.task-content-container li[data-task="-"] {
    color: var(--checklist-done-color);
    text-decoration: var(--checklist-done-decoration);
}

/* --- Text Icon Checkboxes --- */

/* question ('- [?]') */
.task-content-container li[data-task="?"] input[type="checkbox"]:checked {
    background-color: #A99400 !important;
    border-color: #A99400 !important;
}

.task-content-container li[data-task="?"] input[type="checkbox"]:checked::before {
    content: '?';
    -webkit-mask-image: none;
    mask-image: none;
    background-color: transparent !important;
    color: white;
    font-family: var(--font-interface);
}

/* normal text */
.task-content-container li[data-task="?"] {
    color: var(--text-normal);
    text-decoration: none;
}

/* important task ('- [!]') */
.task-content-container li[data-task="!"] input[type="checkbox"]:checked {
    background-color: #e73c4c !important;
    border-color: #e73c4c !important;
}

.task-content-container li[data-task="!"] input[type="checkbox"]:checked::before {
    content: '!';
    -webkit-mask-image: none;
    mask-image: none;
    background-color: transparent !important;
    color: white;
    font-family: var(--font-interface);
}