/* --- Global Checkbox Styling (Applied when 'Apply Global Checkbox Styles' is enabled) --- */

/* Hide a weird tick overlay */
.task-viewer-global-styles input[type=checkbox]:checked::after {
    display: none !important;
}

/* Hide undesirable borders */
.task-viewer-global-styles .HyperMD-list-line input[type="checkbox"]:checked {
    border: none !important;
}

/* Default checkbox styling */
.task-viewer-global-styles .HyperMD-list-line input[type="checkbox"],
.task-viewer-global-styles .markdown-preview-view input[type="checkbox"] {
    -webkit-appearance: none;
    box-sizing: border-box;
    border: 1px solid var(--checkbox-border-color);
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0;
    margin-right: 4px;
    margin-bottom: 2px;
    transition: background-color 200ms ease-out 0s;
    cursor: pointer;
    filter: none;
    border-radius: 4px;
}

.task-viewer-global-styles .HyperMD-list-line input[type="checkbox"]:hover {
    border-color: var(--checkbox-border-color-hover);
}

.task-viewer-global-styles .HyperMD-list-line input[type="checkbox"]:checked::before {
    position: absolute;
    color: white;
    text-align: center;
    font-weight: 900;
    line-height: 15px;
    width: 12px;
    left: 2px;
    right: 2px;
}

.task-viewer-global-styles .markdown-preview-view input[type="checkbox"]:checked {
    border: none;
    background-color: var(--interactive-accent);
}

.task-viewer-global-styles .markdown-preview-view input[type="checkbox"]:hover {
    background-color: var(--background-primary-alt);
    border-color: var(--checkbox-border-color-hover);
}

.task-viewer-global-styles .markdown-preview-view input[type="checkbox"]:checked::before {
    position: absolute;
    color: white;
    text-align: center;
    font-weight: 900;
    line-height: 15px;
    width: 12px;
    left: 2px;
    right: 2px;
}

/* SVG check mark for done ('- [x]') */
.task-viewer-global-styles .HyperMD-list-line input[data-task="x"]:checked::before,
.task-viewer-global-styles .markdown-preview-view li[data-task="x"]>input[type="checkbox"]:checked::before {
    content: '';
    top: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpolygon points='5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039'%3E%3C/polygon%3E%3C/svg%3E");
}

/* strikethrough for done tasks */
.task-viewer-global-styles .HyperMD-task-line[data-task="x"],
.task-viewer-global-styles .markdown-preview-view ul>li[data-task="x"] {
    color: var(--checklist-done-color);
    text-decoration: var(--checklist-done-decoration);
}

/* SVG chevron right for deferred/scheduled ('- [>]') */
.task-viewer-global-styles .HyperMD-list-line input[data-task=">"]:checked::before,
.task-viewer-global-styles .markdown-preview-view li[data-task=">"]>input[type="checkbox"]:checked::before {
    content: '';
    top: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.12 7L3.26667 11.76L4.57333 13.0667L10.7333 7L4.57333 0.933332L3.26667 2.24L8.12 7Z'/%3E%3C/svg%3E");
}

/* strikethrough for deferred/scheduled tasks */
.task-viewer-global-styles .HyperMD-task-line[data-task=">"],
.task-viewer-global-styles .markdown-preview-view ul>li[data-task=">"] {
    color: var(--checklist-done-color);
    text-decoration: var(--checklist-done-decoration);
}

/* SVG line for cancelled/non-task ('- [-]') */
.task-viewer-global-styles .HyperMD-list-line input[data-task="-"]:checked,
.task-viewer-global-styles .markdown-preview-view li[data-task="-"]>input[type="checkbox"]:checked {
    background-color: var(--checklist-done-color);
}

.task-viewer-global-styles .HyperMD-list-line input[data-task="-"]:checked::before,
.task-viewer-global-styles .markdown-preview-view li[data-task="-"]>input[type="checkbox"]:checked::before {
    content: '';
    top: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='6.5' width='13' height='1'/%3E%3C/svg%3E");
}

/* strikethrough for cancelled tasks */
.task-viewer-global-styles .HyperMD-task-line[data-task="-"],
.task-viewer-global-styles .markdown-preview-view ul>li[data-task="-"] {
    color: var(--checklist-done-color);
    text-decoration: var(--checklist-done-decoration);
}

/* question ('- [?]') */
.task-viewer-global-styles .HyperMD-list-line input[data-task="?"]:checked,
.task-viewer-global-styles .markdown-preview-view li[data-task="?"]>input[type="checkbox"]:checked {
    background-color: #A99400;
}

.task-viewer-global-styles .HyperMD-list-line input[data-task="?"]:checked::before,
.task-viewer-global-styles .markdown-preview-view li[data-task="?"]>input[type="checkbox"]:checked::before {
    content: '?';
    -webkit-mask-image: none !important;
    background-color: #A99400 !important;
    font-family: var(--font-interface);
    /* Ensure font consistency */
    color: white;
}

/* normal text */
.task-viewer-global-styles .HyperMD-list-line[data-task="?"] span,
.task-viewer-global-styles .markdown-preview-view ul>li[data-task="?"] {
    color: var(--text-normal);
    text-decoration: none;
}

/* important task ('- [!]') */
.task-viewer-global-styles .HyperMD-list-line input[data-task="!"]:checked,
.task-viewer-global-styles .markdown-preview-view li[data-task="!"]>input[type="checkbox"]:checked {
    background-color: #e73c4c !important;
}

.task-viewer-global-styles .HyperMD-list-line input[data-task="!"]:checked::before,
.task-viewer-global-styles .markdown-preview-view li[data-task="!"]>input[type="checkbox"]:checked::before {
    content: '!';
    -webkit-mask-image: none !important;
    background-color: #e73c4c !important;
    font-family: var(--font-interface);
    /* Ensure font consistency */
    color: white;
}